@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap')
layer(base);

@import 'tailwindcss';

@plugin '../tailwind';
@plugin '../ceteicean';

@theme {
  --animate-spin-slow: reverse-spin 120s linear infinite;

  @keyframes reverse-spin {
    from {
      transform: rotate(360deg);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Rubik';
    @apply bg-neutral-100;
  }

  h1 {
    @apply text-4xl mb-1 mt-0 font-medium;
  }

  table {
    @apply -mx-4 -mb-4 grow;
  }

  th {
    @apply text-left align-top p-4 text-sm font-medium;
  }

  td {
    @apply p-4 align-top;
  }

  a {
    @apply text-secondary-200;
  }

  input {
    @apply shadow-sm appearance-none border rounded-sm py-2 px-3 text-gray-700 mb-4;
  }
}
